<script> 
			var titulo = document.querySelector("h1");

			console.log(titulo);
			console.log(titulo.textContent);
			//console.log(titulo);
			//console.log(titulo.textContent);

			titulo.textContent = "Banana";
			titulo.textContent = "Aparecida Nutricionista";

		</script>
elemento de ma