<link rel="icon" href="favicon.ico" type="image/x-icon">		<link rel="stylesheet" type="text/css" href="css/reset.css">		<link rel="stylesheet" type="text/css" href="css/index.css">		<script> 			src="js/principal.js"		</script>	</head>	<body>@@ -75,6 +72,7 @@ <h2>Meus pacientes</h2>			</section>		</main>		<script src="js/principal.js" ></script>	</body>








